{{extend 'layout.html'}}

<p>Type something and press the button.
   The last 10 entries will appear sorted in a table below.</p>

<form>
<INPUT type="text" id="kiek" name = "kiek" value=""/>
<INPUT type="button" value="submit"
       onclick="ajax('{{=URL('data')}}',['kiek'],'target');"/>
</form>
        <br>
<INPUT type="button" class="btn" id="1" value="1" onclick="ajax('{{=URL('data?kiek=1')}}', ['1'], 'target')"/>
<INPUT type="button" class="btn" id="2" value="2" onclick="ajax('{{=URL('data?kiek=2')}}', ['2'], 'target')"/>
<INPUT type="button" class="btn" id="3" value="3" onclick="ajax('{{=URL('data?kiek=3')}}', ['3'], 'target')"/>
<INPUT type="button" class="btn" id="4" value="4" onclick="ajax('{{=URL('data?kiek=4')}}', ['4'], 'target')"/>
<INPUT type="button" class="btn" id="5" value="5" onclick="ajax('{{=URL('data?kiek=5')}}', ['5'], 'target')"/>
<INPUT type="button" class="btn" id="6" value="6" onclick="ajax('{{=URL('data?kiek=6')}}', ['6'], 'target')"/>
<INPUT type="button" class="btn" id="7" value="7" onclick="ajax('{{=URL('data?kiek=7')}}', ['7'], 'target')"/>
<INPUT type="button" class="btn" id="8" value="8" onclick="ajax('{{=URL('data?kiek=8')}}', ['8'], 'target')"/>
<INPUT type="button" class="btn" id="9" value="9" onclick="ajax('{{=URL('data?kiek=9')}}', ['9'], 'target')"/>
<INPUT type="button" class="btn" id="10" value="10" onclick="ajax('{{=URL('data?kiek=10')}}', ['10'], 'target')"/>
<br>
<div id="target"></div>
